/* Global settings */
body {
  font-family: verdana, tahoma, helvetica, arial, sans-serif;
  text-align: left;
  @media (prefers-color-scheme: dark) {
    background: #1c1c1c;
    color: #f2f2f2;
  }
  @media (prefers-color-scheme: light) {
    background: #fff;
    color: #222;
  }
  margin: 1em;
  padding: 0;
  font-size: 1em;
  line-height: 1.2em
}

@media (prefers-color-scheme: dark) {
  a:link { color: #62a5ef; }
  a.ulink:link { font-weight: bold; color: #68abde; }
  a:visited { color: #d7a2e4 ! important; }
  a:hover, a:focus { color: #fbbbdf ! important; }
  a:active { color: #9ea8db ! important;}
}
@media (prefers-color-scheme: light) {
  a:link { color: #22b; }
  a.ulink:link { font-weight: bold; color: #55f; }
  a:visited { color: #7e4988 ! important; }
  a:hover, a:focus { color: #d30e08 ! important; }
  a:active { color: #6b77b1 ! important;}
}

/* Headers */
h1, h2, h3, h4, h5, h6, b, .strong {
  @media (prefers-color-scheme: dark) {
    color: #fafafa;
  }
  @media (prefers-color-scheme: light) {
    color: #000;
  }
  font-weight: bold;
  line-height: 1em;
}

h1 {
  font-size: 173%;
  text-align: center;
}

h2 {
  font-size: 144%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 110%;
}

span.blue {
  color: #2ac;
}

ul {
  padding-left: 2em
}

.itemizedlist ul {
  margin-left: 2em
}

.itemizedlist li ul {
  margin-bottom: 1.2em;
}

.itemizedlist li ul li p {
  margin-top: .5em;
  margin-bottom: .5em;
}

.itemizedlist li ul li:first-child p:first-child {
  margin-top: -.6em;
}

ul.compact {
  list-style: none;
}

ul.compact li {
  margin: 0.3em;
  padding: 0em;
}

ul.compact li p {
  padding: 0.3em;
  margin: 0em;
}

ol {
  list-style: decimal;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol.compact li {
  margin: 0em;
  padding: 0em;
}

ol.compact li p {
  padding: 0.3em;
  margin: 0em;
}

p, blockquote {
  padding-left: 1em;
  padding-right: 1em;
}

tt, code, kbd, pre, .command {
  font-family: monospace;
}

.systemitem {
  font-style: italic;
}

code.systemitem {
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
}

  /* OrangeRed4 */
.feature-ssp {
  color: #8B2500;
}

  /* RoyalBlue3 */
.feature-aslr {
  color: #3A5FCD;
}

  /* NavyBlue */
.feature-pax {
  color: #000080;
}

  /* VioletRed */
.feature-hardened_tmp {
  color: #d02090;
}

  /* PaleTurquoise4 */
.feature-warnings {
  color: #668b8b;
}

  /* RosyBrown */
.feature-misc {
  color: #bc8f8f;
}

  /* Sienna*/
.feature-blowfish {
  color: #8E6B23
}
